body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.title {
  background: linear-gradient(to right, yellow 40%, green);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-family: "Ceviche One", cursive;
  word-spacing: 1.2rem;
}
.pokemon-container {
  width: 80vw;
  margin: 0 auto;
}
.pokemon-name {
  text-transform: uppercase;
  color: blue;
}
.list-container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 1rem;
}
.pokemon-box {
  background: rgb(199, 197, 197);
  width: 15rem;
  height: 10rem;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem 3rem;
  transform: scale(0.9);
  transition: transform 0.5s linear;
}
.pokemon-box:hover {
  transform: scale(1);
}
.pokemon-box img {
  width: 5rem;
}
.load-more-btn {
  background: transparent;
  color: blue;
  font-family: cursive;
  border: none;
  box-shadow: 0px 3px 5px;
  width: 10rem;
  border-radius: 1rem;
  padding: 0.5em;
  margin-bottom: 2rem;
}
.load-more-btn:hover {
  background: linear-gradient(to right, yellow, green);
  color: white;
  cursor: pointer;
}
.current-image{
  width: 5rem;
}
.old-image{
  width: 6rem;
}
.loading {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(blueviolet 20%, yellow);
  position: relative;
  margin: 45vh auto;
  animation: spin 2s linear infinite;
}
.loading::before {
  position: absolute;
  display: block;
  content: "";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(to right, green 20%, yellow);
  transform: translateX(-120%);
  animation: spin1 2s linear infinite;
}
.loading::after {
  position: absolute;
  display: block;
  content: "";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(to right, blueviolet 20%, red);
  transform: translateX(120%);
  animation: spin2 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin1 {
  from {
    transform: rotate(0deg) translateX(-120%);
  }
  to {
    transform: rotate(360deg) translateX(-120%);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(0deg) translateX(120%);
  }
  to {
    transform: rotate(360deg) translateX(120%);
  }
}

@media (max-width: 700px) {
  .list-container {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media (max-width: 375px) {
  .list-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
